In [166]:
# Import dependencies

import pandas as pd

In [167]:
# Set path for CSV files

oscars_file = "Resources/the_oscar_award.csv"
oscars_df = pd.read_csv(oscars_file)


movies_file = "Resources/movies.csv"
movies_df = pd.read_csv(movies_file)

In [168]:

df3 = oscars_df[oscars_df["winner"]==1].groupby(["film", "category"])["winner"].count()
df4 = df3.to_frame().reset_index().rename(columns={"film":"Title", "winner":"Wins"})
df4 = df4["Title"].value_counts().to_frame().reset_index().rename(columns={"index":"Title", "Title":"Wins"})
df4

                                              Title  Wins
0                                           Titanic    12
1     The Lord of the Rings: The Return of the King    11
2                                           Ben-Hur    11
3                                   West Side Story    10
4                                              Gigi     9
...                                             ...   ...
1268                 They Shoot Horses, Don't They?     1
1269                                    Smile Pinki     1
1270                               Shanghai Express     1
1271                               Mighty Joe Young     1
1272                          2001: A Space Odyssey     1

[1273 rows x 2 columns]

In [169]:
movies_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [170]:
df = oscars_df.groupby(["film", "category"])["winner"].count()
df2 = df.to_frame().reset_index()
df2.rename(columns={"index":"Title", "film":"Nomination"})
df2

,film,category,winner
0,"$1,000 a Minute",SOUND RECORDING,1
1,'38',FOREIGN LANGUAGE FILM,1
2,'Crocodile' Dundee,WRITING (Screenplay Written Directly for the S...,1
3,'Round Midnight,ACTOR IN A LEADING ROLE,1
4,'Round Midnight,MUSIC (Original Score),1
...,...,...,...
9971,the end,SHORT FILM (Animated),1
9972,tom thumb,SPECIAL EFFECTS,1
9973,À Nous la Liberté,ART DIRECTION,1
9974,Ådalen '31,FOREIGN LANGUAGE FILM,1
9975,Éramos Pocos (One Too Many),SHORT FILM (Live Action),1

In [171]:
df = oscars_df["film"].value_counts()
df2 = df.to_frame().reset_index().rename(columns={"index":"Title", "film":"Nomination"})
df2

                          Title  Nomination
0                A Star Is Born          25
1                       Titanic          16
2                  Moulin Rouge          15
3          Mutiny on the Bounty          15
4                 All about Eve          14
...                         ...         ...
4828                   Seraglio           1
4829               The War Game           1
4830  The Big Broadcast of 1938           1
4831                    Humdrum           1
4832       That Girl from Paris           1

[4833 rows x 2 columns]

In [172]:
wins_nominations = pd.merge(df2, df4, on="Title", how="left")
wins_nominations.fillna(0)

                          Title  Nomination  Wins
0                A Star Is Born          25   2.0
1                       Titanic          16  12.0
2                  Moulin Rouge          15   4.0
3          Mutiny on the Bounty          15   1.0
4                 All about Eve          14   6.0
...                         ...         ...   ...
4828                   Seraglio           1   0.0
4829               The War Game           1   1.0
4830  The Big Broadcast of 1938           1   1.0
4831                    Humdrum           1   0.0
4832       That Girl from Paris           1   0.0

[4833 rows x 3 columns]

In [155]:
df2 = pd.DataFrame(df)

In [156]:
movies_clean_df = movies_df.drop(columns=["Unnamed: 0", "ID"])
movies_clean_df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [157]:
# Clean and prepare dataframes for merge

# Filter category by Best Motion Picture only
best_picture = ['BEST PICTURE', 'BEST MOTION PICTURE']
oscars_clean_df = oscars_df[oscars_df.category.isin(best_picture)]


# Drop and rename columns
oscars_clean_df = oscars_clean_df.drop(columns=["year_ceremony", "category", "ceremony", "name"])
oscars_clean_df = oscars_clean_df.rename(columns={"year_film": "Year", "film": "Title", "winner": "Won Best Picture"})

oscars_clean_df

       Year                            Title  Won Best Picture
1751   1944                 Double Indemnity             False
1752   1944                         Gaslight             False
1753   1944                     Going My Way              True
1754   1944              Since You Went Away             False
1755   1944                           Wilson             False
...     ...                              ...               ...
10346  2019                     Little Women             False
10347  2019                   Marriage Story             False
10348  2019                             1917             False
10349  2019  Once upon a Time...in Hollywood             False
10350  2019                         Parasite              True

[423 rows x 3 columns]

In [173]:
# Merge on left dataframe to keep all streaming movies
movies_clean_df2 = pd.merge(movies_clean_df, df2, on="Title", how="left")
combined_df = pd.merge(movies_clean_df2, oscars_clean_df, how="left")
combined_df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,Nomination,Won Best Picture
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,8.0,False
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,4.0,NaN
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,1.0,NaN
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,4.0,NaN
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN

In [91]:
combined_df[(combined_df["Netflix"]==1) & (combined_df["Won Best Picture"].isna()==False)].count()

Title               3560
Year                3560
Age                 1677
IMDb                3442
Rotten Tomatoes     1427
Netflix             3560
Hulu                3560
Prime Video         3560
Disney+             3560
Type                3560
Directors           3376
Genres              3469
Country             3407
Language            3382
Runtime             3341
Nomination          3560
Won Best Picture    3560
Wins                3560
dtype: int64

In [92]:
combined_df["Won Best Picture"]

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
16739    0.0
16740    0.0
16741    0.0
16742    0.0
16743    0.0
Name: Won Best Picture, Length: 16744, dtype: float64

In [93]:
combined_df["Won Best Picture"] = combined_df["Won Best Picture"].replace(True, 2)
combined_df["Won Best Picture"] = combined_df["Won Best Picture"].replace(False, 1)
combined_df["Won Best Picture"] = combined_df["Won Best Picture"].fillna(0)

In [26]:
# False = 0
# True = 1
# Wins
# Nominated

In [152]:
combined_df[(combined_df["Netflix"]==1) & (combined_df["Won Best Picture"]!=0)].sort_values("IMDb", ascending=False).head(5)

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,Nomination,Won Best Picture,Wins
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Action,"United States,United Kingdom","English,Japanese,French",148.0,8.0,1.0,148.0
6,The Pianist,2002,18+,8.5,95%,1,0,1,0,0,Roman Polanski,Biography,"United Kingdom,France,Poland,Germany","English,German,Russian",150.0,7.0,1.0,150.0
7,Django Unchained,2012,18+,8.4,87%,1,0,0,0,0,Quentin Tarantino,Drama,United States,"English,German,French,Italian",165.0,5.0,1.0,165.0
8,Raiders of the Lost Ark,1981,7+,8.4,95%,1,0,0,0,0,Steven Spielberg,Action,United States,"English,German,Hebrew,Spanish,Arabic,Nepali",115.0,9.0,1.0,115.0
9,Inglourious Basterds,2009,18+,8.3,89%,1,0,0,0,0,Quentin Tarantino,Adventure,"Germany,United States","English,German,French,Italian",153.0,8.0,1.0,153.0

In [144]:
combined_df["Won Best Picture"]

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
16739    0.0
16740    0.0
16741    0.0
16742    0.0
16743    0.0
Name: Won Best Picture, Length: 16744, dtype: float64

In [174]:
combined_df.dtypes

Title                object
Year                  int64
Age                  object
IMDb                float64
Rotten Tomatoes      object
Netflix               int64
Hulu                  int64
Prime Video           int64
Disney+               int64
Type                  int64
Directors            object
Genres               object
Country              object
Language             object
Runtime             float64
Nomination          float64
Won Best Picture     object
dtype: object

In [175]:
combined_df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,Nomination,Won Best Picture
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,8.0,False
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,4.0,NaN
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,1.0,NaN
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,4.0,NaN
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,NaN,NaN
16740,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,NaN,NaN
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN,NaN,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN,NaN,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0,1.0,NaN

In [176]:
combined_df["Nomination"] = combined_df["Nomination"].fillna(0)
combined_df["Wins"] = combined_df["Runtime"].fillna(0)
combined_df["Wins"] = combined_df["Wins"].fillna(0)
combined_df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,Nomination,Won Best Picture,Wins
0,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,8.0,False,148.0
1,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,4.0,NaN,136.0
2,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,1.0,NaN,149.0
3,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,4.0,NaN,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0.0,NaN,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0.0,NaN,120.0
16740,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0.0,NaN,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN,0.0,NaN,0.0
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN,0.0,NaN,0.0
16743,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0,1.0,NaN,32.0

In [178]:
genre_df=pd.DataFrame(combined_df["Genres"].str.split(", ", expand=True))
genre_df

                                      0
0      Action,Adventure,Sci-Fi,Thriller
1                         Action,Sci-Fi
2               Action,Adventure,Sci-Fi
3               Adventure,Comedy,Sci-Fi
4                               Western
...                                 ...
16739      Comedy,Family,Fantasy,Horror
16740              Comedy,Family,Sci-Fi
16741                       Documentary
16742                       Documentary
16743          Documentary,Short,Family

[16744 rows x 1 columns]

In [187]:
genres=[]
count=0

action=0
adventure=0
animation=0
crime=0
mystery=0
drama=0
romance=0
sci_fi=0
thriller=0
comedy=0
horror=0
western=0
fantasy=0
family=0
docu=0
history=0
music=0
musical=0
bio=0

for index, row in genre_df.interrows():
    count +=1
    if row[0] not in genres:
        genres.append(row[0])
        
    
    if row[0]== "Action":
        action +=1
    elif row[0]== "Adventure":
        adventure +=1
    elif row[0]== "Animation":
        animation +=1
    elif row[0]== "Crime":
        crime +=1
    elif row[0]== "Mystery":
        mystery +=1
    elif row[0]== "Drama":
        drama +=1
    elif row[0]== "Romance":
        romance +=1
    elif row[0]== "Sci-Fi":
        sci_fi +=1
    elif row[0]== "Thriller":
        thriller +=1
    elif row[0]== "Comedy":
        comedy +=1
    elif row[0]== "Horror":
        horror +=1
    elif row[0]== "Western":
        western +=1
    elif row[0]== "Fantasy":
        fantasy +=1
    elif row[0]== "Family":
        family +=1
    elif row[0]== "Documentary":
        docu +=1
    elif row[0]== "History":
        history +=1
    elif row[0]== "Music":
        music +=1
    elif row[0]== "Musical":
        musical +=1
    elif row[0]== "Biography":
        bio +=1

print("-"*30)
action_percent=round(((action/genres)*100),2)
print("Adventure:", str(action_percent)+"%", "(" + str(action)+ ")")

AttributeError: 'DataFrame' object has no attribute 'interrows'